<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    
    <bean id="user" class="com.User" scope="prototype"></bean>
    
    <bean id="st" class="com.Student" autowire="constructor">
        <constructor-arg index="0" value="1"></constructor-arg>
        <constructor-arg index="1" value="Vijay"></constructor-arg>
    </bean>
    
    <!-- bean class="com.Address" id="address">
        <property name="addrId" value="100"></property>
        <property name="street" value="Hi-Tech City"></property>
    </bean !-->
    
    
    <bean class="com.Address" id="addr">
        <property name="addrId" value="101"></property>
        <property name="street" value="Gachibowli"></property>
    </bean>
    <bean id="emp" class="com.Employee">
        <property name="empId" value = "1"></property>
        <property name="skills">
            <set>
                <value> Java </value>
                <value> SQL </value>
                <value> JDBC </value>
                <value> Hibernate </value>
                <value> Hibernate </value>
            </set>
        </property>
        <property name="hobbies">
            <map>
                <entry key="1" value="cricket"></entry>
                <entry key="2" value="badminton"></entry>
                <entry key="2" value="jogging"></entry>
            </map>
        </property>
    </bean>
</beans>